form-table md-toolbar.label {
  border-radius: 3px 3px 0px 0px;
  height: 48px;
  min-height: 48px; }

form-table .no-data {
  margin: 15px;
  text-align: center; }

form-table .actionSpace {
  width: 60px; }

form-table .remove {
  visibility: hidden; }

form-table .remove.visible {
  visibility: visible; }

form-table > div > md-content {
  border: 1px solid rgba(0, 0, 0, 0.12); }

img-select.ng-invalid.ng-dirty img.done {
  border: 1px solid red; }

img-select:not([disabled]) .fabToolbar.show {
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  display: block; }

img-select {
  position: relative;
}
  img-select .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    height: 160px;
    width: 160px; }
  img-select .static {
    position: relative; }
  img-select .fabToolbar {
    height: 56px; }
  img-select .fabToolbar.abs {
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    position: absolute;
    right: 0px;
    top: 0px; }
  img-select button.md-fab .material-icons {
    display: block !important; }
  img-select img.done {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px; }

md-toolbar.wizard {
  border-radius: 3px 3px 0px 0px;
  height: 48px;
  min-height: 48px; }

button.arrow {
  visibility: hidden; }

button.arrow.visible {
  visibility: visible; }

.formly-field:not(.formly-field-group) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 8px;
  padding: 8px; }

