<div ng-show="state=='crop'" layout="column">
  <div layout="row" layout-align="end center" class="fabToolbar">
    <md-button type="button" class="md-fab md-mini" ngf-select ng-model="selected">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Subir Imagen
      </md-tooltip>
      <md-icon md-font-set="material-icons">file_upload</md-icon>
    </md-button>
    <md-button type="button" class="md-fab md-mini" ng-click="state='snapshot'">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Sacar Foto
      </md-tooltip>
      <md-icon md-font-set="material-icons">camera</md-icon>
    </md-button>
    <md-button type="button" class="md-fab md-mini" ng-click="save()">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Aceptar
      </md-tooltip>
      <md-icon md-font-set="material-icons">done</md-icon>
    </md-button>
    <md-button type="button" class="md-fab md-mini" ng-click="cancel()">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Cancelar
      </md-tooltip>
      <md-icon md-font-set="material-icons">clear</md-icon>
    </md-button>
  </div>
  <div  ngf-drop ng-model="selected" ngf-pattern="image/*" class="cropArea">
    <img-crop image="imageCrop || (selected | ngfDataUrl) || imageSelected" result-image="imgResult" area-type="square"></img-crop>
  </div>
</div>
<div ng-show="state=='snapshot'" layout="column">
  <div layout="row" layout-align="end center" class="fabToolbar">
    <md-button type="button" class="md-fab md-mini" ngf-select ng-model="selected">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Subir Imagen
      </md-tooltip>
      <md-icon md-font-set="material-icons">file_upload</md-icon>
    </md-button>
    <md-button type="button" class="md-fab md-mini" ng-click="cancel()">
      <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
        Cancelar
      </md-tooltip>
      <md-icon md-font-set="material-icons">clear</md-icon>
    </md-button>
  </div>
  <webcam channel="channel" ng-click="snapshot()"></webcam>
</div>
<div ng-show="state=='done'" layout="column" class="static" ng-mouseenter="hovered=true" ng-mouseleave="hovered=false">
  <div ng-class="{show: hovered}" class="fabToolbar abs">
    <!--<md-fab-speed-dial  ng-class="{show: hovered}" md-direction="left" class="md-scale">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-tooltip md-direction="bottom" md-visible="tooltipVisible">Menu</md-tooltip>
          <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>-->
        <md-button type="button" class="md-fab md-mini" ngf-select ng-model="selected">
          <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
            Subir Imagen
          </md-tooltip>
          <md-icon md-font-set="material-icons">file_upload</md-icon>
        </md-button>
        <md-button type="button" class="md-fab md-mini" ng-click="state='snapshot'">
          <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
            Sacar Foto
          </md-tooltip>
          <md-icon md-font-set="material-icons">camera</md-icon>
        </md-button>
      <!--</md-fab-actions>
    </md-fab-speed-dial>-->
  </div>
  <div layout="row" layout-align="center center">
    <img ng-src="{{image || defaultImg}}" class="done"/>
  </div>
</div>
